
<menuitem class="submenu">
    @Ajax.ActionLink("Все книги", "ShowBooks", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "booksPanel"
})
</menuitem>

<menuitem class="submenu">
    @Ajax.ActionLink("Добавить книгу", "AddNewBook", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "booksPanel"
})
</menuitem>

<div id="booksPanel">

</div>
