
@{
    ViewBag.Title = "ControlPanel";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Панель управления</h2>

<div id="controlPanel">
    <menu>
        <menuitem class="mainmenu">
            @Ajax.ActionLink("Книги", "BooksPanel",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "panel"
    })
        </menuitem>

        <menuitem class="mainmenu">
            @Ajax.ActionLink("Читатели", "ReadersPanel",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "panel"
    })
        </menuitem>

        <menuitem class="mainmenu">
            @Ajax.ActionLink("Библиотека", "LibraryPanel",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "panel"
    })
        </menuitem>
</menu>

    <div id="panel">

    </div>

</div>