
<menuitem class="submenu">
    @Ajax.ActionLink("Все читатели", "ShowReaders", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "readersPanel"
})
</menuitem>
    

    <menuitem class="submenu">
    @Ajax.ActionLink("Добавить читателя", "AddNewReader", new AjaxOptions
   {
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "readersPanel"
   })
</menuitem>

        <div id="readersPanel">

        </div>
