@model IEnumerable<LibrarySestem.WEB.Models.BookViewModel>

@{
    if (Model != null && Model.Count() != 0)
    {

        <div class="divLine">
            @foreach (var book in Model)
            {
                <div>

                    <div class="inline-block width50">
                        @book.Id
                    </div>

                    <div class="inline-block width200">
                        @book.Author
                    </div>

                    <div class="inline-block width200">
                        @book.Title
                    </div>

                    <div class="inline-block width50">
                        @book.Year
                    </div>

                </div>
            }
        </div>
    }
    else
    {
                @:Книг ещё нет
                }
                }

