@model IEnumerable<LibrarySestem.WEB.Models.Reader>

@{
    if (Model != null && Model.Count() != 0)
    {
        <div class="divLine">
            @foreach (var reader in Model)
            {
                <div>

                    <div class="inline-block width50">
                        @reader.Id
                    </div>

                    <div class="inline-block width200">
                        @reader.FirstName @reader.LastName
                    </div>

                    <div class="inline-block width100">
                        @reader.BirthDate.ToShortDateString()
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        @:Список читателей пуст
    }
}



